@use "@fremtind/jkl-core/core";
@use "@fremtind/jkl-core/jkl";

@use "@fremtind/jkl-button/button";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-width: 320px;
}
